.lk-prejoin .lk-button-group-container > .lk-button-group {
  width: min-content;
}

.lk-button-group video {
  justify-content: center;
}

.lk-button-group audio {
  justify-content: center;
}

.lk-prejoin {
  width: 50%;
}

.lk-prejoin .lk-video-container {
  border-radius: 16px;
}

#root
  > div
  > div
  > div.lk-button-group-container
  > div.lk-button-group.audio
  > div
  > div[style] {
  background-color: white;
  opacity: 90%;
  border-radius: 16px;
  top: 30px !important;
  left: 4px !important;
  border: 2px solid #1c92f2;
  padding: 2px;
  overflow-y: scroll;
  max-height: 330%;
  width: min-content;
}

div.lk-button-group-container {
  width: 100%;
}

div.lk-button-group-container > div.lk-button-group.video {
  width: min-content;
}

div.lk-button-group-container > div.lk-button-group.video > div > div[style] {
  background-color: white;
  opacity: 90%;
  border-radius: 10px;
  top: 30px !important;
  left: 4px !important;
  border: 2px solid #1c92f2;
  padding: 2px;
  overflow-y: scroll;
  max-height: 330%;
}

.lk-button-group-menu {
  width: min-content;
}

.lk-video-conference-inner,
.lk-focus-layout-wrapper,
.lk-grid-layout-wrapper {
  height: calc(100vh - 100px - 3.25rem);
  max-height: calc(100vh - 100px - 3.25rem);
  flex-grow: 0;
}

.lk-participant-tile {
  color: white;
  background-color: black;
}

.lk-participant-media-video {
  object-fit: contain !important;
}
