.lk-prejoin
  .lk-button-group-container
  > .lk-button-group
  > .lk-button:first-child {
  width: 26%;
}

.lk-button-group video {
  justify-content: center;
}

.lk-button-group audio {
  justify-content: center;
}

.lk-prejoin .lk-join-button {
  border-radius: 16px;
  background-color: #0725e3;
  color: white;
}

.lk-prejoin .lk-join-button:hover {
  opacity: 30px;
}
